:root {
    --width-col-total: 3em;
    --width-col-prct: 3em;
    --width-col-jo: auto;
    --width-col-we: 0.2em;
    --grid-template-columns: var(--width-col-total) var(--width-col-prct) 0.1em var(--width-col-we) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-we) var(--width-col-we) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-we) var(--width-col-we) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-we) var(--width-col-we) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-jo) var(--width-col-we) var(--width-col-we) var(--width-col-jo) var(--width-col-jo);
    --color7: #87919e;
    --color8:lightgreen;
}

.grid-col2-extend {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.grid-col2-reduct {
    display: grid;
    grid-template-columns: minmax(25rem, 1fr) 3fr;
}

.grid-columns-span-2 {
    grid-column: 1/3;
}


.grid-presta {
    display: grid;
    text-align: center;
    align-content: space-around;
}

.grid-5-extend {
    grid-template-columns: 4fr 1fr 2fr 1fr 1.5fr;
}

.grid-5-reduct {
    grid-template-columns: 4fr 1fr;
}



.cellTop {
    border-top: 0.1em solid black;
}


.border-left {
    border-left: 1px solid var(--color5);
}

.grid-lineSimple {
    margin: 0.4rem 0;
}

.grid-lineDouble {
    height: 3.2em;
}

.grid-lineQuad {
    height: 6.3em;
} 

.grid-pointage {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    /* padding: 0em 0.2em; */
    overflow: hidden;
    align-content: space-around;
    background-color: var(--color4);
}

.grid-columns-span-31 {
    grid-column: span 31;
}

.grid-columns-span-32 {
    grid-column: span 32;
}

.grid-columns-span-33 {
    grid-column: span 33;
}

.grid-columns-span-34 {
    grid-column: span 34;
}

.tabCol>div {
    /* border-left: 0.1em solid black;
    border-right: 0.1em solid black; */
    text-align: center;
}

.cellKO {
    background-color: var(--inputIncorrect);
}

.noWork {
    background-color: lightgrey;
    /* height: 100%; */
}

/* .work {
    background-color: white;
} */

.notApplicable {
    background-color: var(--color7);
}

#info {
    color: red;
}

.fa-expand::before {
    content: "\f424";
}

.fa-contract::before {
    content: "\f422";
}

.rotate-45 {
    transform: rotate(45deg);
}

.pointHead {
    position: sticky;
    top: 0em;
}

.topStickyBottom {
    border-bottom: 0.2em solid black;
}

.leftStickyRigth {
    border-right: 0.2em solid black;
}

.bgc4 {
    background-color: var(--color4);
}

select {
    height: 100% !important;
}

.plusRigth {
    margin-left: auto;
}

#btnMasque {
    padding-right: 0.5em;
}

.titreTypePrestation {
    background-color: var(--color2);
    color: var(--color1);
    padding-left: 1em;
    color: var(--color1);
}

.fa-fav:before {
    content: "\F5C0";
    color: rgb(212, 212, 7);
}

.favActive {
    color: green;
}

.favDesActive {
    color: red;
}

.prestaLine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.infosUser {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto 1fr auto auto 1fr auto auto 1fr auto auto 1fr auto auto;
}

.colSelected {
    border-width: 0.2em;
    border-color: var(--color8);
}

.fa-open:before {
    content: "\F107";
}

.fa-close:before {
    content: "\F106";
}

.pyjama {
    background-color: lightblue;
}
.jourOK {
    background-color: var(--color8);
}
div .jourOK>input[type="text"] {
    background-color:var(--color8);
}
.jourWarn{
    background-color:lightcoral;
}

input[type="text"]:disabled {
    background-color: var(--color7);
}

.inputPointage {
    width: 100%;
    /* height: 100%; */
    padding: 0px;
    text-align: center;
}

.mainGrid input, .mainGrid select {
    box-shadow: none;
}

.mainGrid i {
    padding: 0 0.2rem;
   }
/* 
   .mainGrid {
    flex: 0;
   } */
.rtt {
    padding-left: 0.5rem;
}