main {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 2fr 0.5fr;
}


#tabAgents {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1fr 1fr 1fr 1fr;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#tabAgents >div, #tabManagers >div, #tabPointage >div{
    padding: 0.3rem;
}

#tabManagers {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    padding-bottom: 8rem;
} 

#tabReModif {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#tabPointage
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.span3{
    grid-column: span 3;
}
.vCenter {
    align-items: center;
    padding-left: 0.5rem;
}

.camembert {
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.gras {
    font-weight: bold;
}

.fa-green {
    color: green !important;
}

.fa-orange {
    color: orange !important;
}
.fa-white {
    color: white !important;
}
.fa-black {
    color: black !important;
}
button{
    max-width: fit-content;
    padding: 0.5rem;
    cursor: pointer;
}

body.dark .fa-black {
    color: var(--color1) !important;
}

/*/////////////////*/
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.deuxCol{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card{
    border: 0.2rem solid black;
    border-radius: 2rem;
    padding: 1rem;
    column-gap: 2rem;
    row-gap: 1rem;
}

.card.modif{
    border-color: red;
}

.innerCard{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: stretch;
    min-height: 3rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    align-content: stretch;
}

.innerCard>label{
    border-top-right-radius: 0.9rem;
    border-top-left-radius: 0.9rem;
}
.innerCard>.line:not(label){
    border-bottom-right-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
}

.right{
    justify-content: right;
}

.card>.span-2{
    display: grid;
    grid-column: span 2;
    grid-template-columns: 2.5rem auto;
    align-items: center;
}

.numerotation{
    border: 0.1rem solid black;
    border-radius: 5rem;
    padding: 0.5rem;
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.numerotation.modif{
    background-color: red;
}

.line{
    min-height: 1.5rem;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
section.vCenter.center {
    display: grid;
}