main {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 0.5fr;
}

.section1{
    display: block;
}
#divComboDate {
    width: 10vw;
}
#comboDate {
    padding: 0.5rem;
    font-size: 1rem;
}
#tabAgents {
    display: grid;
    grid-template-columns: 3fr 1.5fr 1fr 1fr 1fr 1fr;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.vCenter {
    align-items: center;
    padding-left: 0.5rem;
}

.section2 {
flex-direction: column;
}

.camembert {
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.gras {
    font-weight: bold;
}

.fa-green {
    color: green !important;
}

.fa-orange {
    color: orange !important;
}
.fa-white {
    color: white !important;
}